@model ExternalLoginViewModel
@{
    ViewData["Title"] = @Phonebook.Resources.Resources.Layout_Register;
}

<h2>@ViewData["Title"]</h2>
<h4>@string.Format(Phonebook.Resources.Resources.Account_ExternalLogin_h4, @ViewData["LoginProvider"]) </h4>
<hr />

<p class="text-info">
	@Phonebook.Resources.Resources.Account_ExternalLogin_Info <strong>@ViewData["LoginProvider"]</strong>
	@Phonebook.Resources.Resources.Account_ExternalLogin_Info1
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email">@Phonebook.Resources.Resources.Model_NewContact_Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
			<button type="submit" class="btn btn-default">@Phonebook.Resources.Resources.Layout_Register</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
