@{
    ViewData["Title"] = Phonebook.Resources.Resources.Manage_Disable2fa_Title;
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@Phonebook.Resources.Resources.Manage_Disable2fa_Msg</strong>
    </p>
    <p>
        @Phonebook.Resources.Resources.Manage_Disable2fa_Msg1_1 <a asp-action="ResetAuthenticatorWarning">
	@Phonebook.Resources.Resources.Manage_Disable2fa_Msg1_2
	</a>
    </p>
</div>

<div>
    <form asp-action="Disable2fa" method="post" class="form-group">
		<button class="btn btn-danger" type="submit">@Phonebook.Resources.Resources.Manage_Disable2fa_Msg2</button>
    </form>
</div>
