@model Phonebook.Models.NewContact

@{
    ViewData["Title"] = "Details";
}

<h2>@Phonebook.Resources.Resources.Btn_Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Phonebook.Resources.Resources.Model_NewContact_FirstName:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
		<dt>
			@Phonebook.Resources.Resources.Model_NewContact__LastName:
		</dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
		<dt>
			@Phonebook.Resources.Resources.Model_NewContact_PhoneNumber:
		</dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
		<dt>
			@Phonebook.Resources.Resources.Model_NewContact_Email:
		</dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
		<dt>
			@Phonebook.Resources.Resources.Model_NewContact_Street:
		</dt>
        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>
		<dt>
			@Phonebook.Resources.Resources.Model_NewContact_PostalCode:
		</dt>
        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
		<dt>
			@Phonebook.Resources.Resources.Model_NewContact_City:
		</dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
		<dt>
			@Phonebook.Resources.Resources.Model_NewContact_Country:
		</dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
    </dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-default" role="button">@Phonebook.Resources.Resources.Btn_Edit</a> |
	<a asp-action="Index" class="btn btn-default" role="button">@Phonebook.Resources.Resources.Btn_BackToList</a>
</div>
